body {
    background-color: #f5f0fa;
    color: #222;
}

.bg-purple {
    background-color: #6f4aa8;
}

.text-purple {
    color: #6f4aa8;
}

.hero {
    background-color: white;
}

.card-menu {
    display: block;
    background: #eee4f7;
    color: #333;
    text-decoration: none;
    padding: 30px;
    border-radius: 15px;
    height: 100%;
    transition: 0.3s;
    border: 1px solid #ddd;
}

.card-menu:hover {
    transform: translateY(-5px);
    background: #e2d3f2;
    color: #333;
}

.btn-purple {
    background-color: #6f4aa8;
    color: white;
}

.btn-purple:hover {
    background-color: #563783;
    color: white;
}

.table-purple th {
    background-color: #6f4aa8;
    color: white;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    background: #fff;
    color: #333;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

select:focus {
    border-color: #7b4bb7;
    box-shadow: 0 0 8px rgba(123, 75, 183, 0.3);
}

select option {
    background: #fff;
    color: #333;
}

#graficoContainer {
    background: linear-gradient(135deg, #1e1b2e, #2d2147);
    border-radius: 20px;
    padding: 25px;
    margin-top: 30px;
    box-shadow:
        0 0 20px rgba(123, 75, 183, 0.4),
        0 0 40px rgba(123, 75, 183, 0.2);

    border: 2px solid rgba(155, 89, 255, 0.4);

    transition: 0.3s;
}

#graficoContainer:hover {
    transform: translateY(-4px);
    box-shadow:
        0 0 30px rgba(155, 89, 255, 0.6),
        0 0 60px rgba(155, 89, 255, 0.3);
}

#graficoContainer h3 {
    color: #d8b4ff;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

canvas {
    background: linear-gradient(135deg, #ffffff, #f4edff);

    border-radius: 20px;

    padding: 20px;

    box-shadow:
        0 0 25px rgba(123, 75, 183, 0.15),
        0 0 60px rgba(123, 75, 183, 0.08);
}